<ion-view view-title="Smoke sessions">
  <ion-content class="content-main">
    <!--<input type="date" ng-model="currentDate" class="date-picker">-->
    <button ng-click="openDatePicker()" class="button date-picker">{{selectedDate | date:"mediumDate"}}</button>

    <ion-tabs>
      <ion-tab title = "Tobaccos">
        <div class="tab-list-area">
          <ion-list class="list-custom tab-list">
            <ion-item ng-repeat="tobacco in tobaccos" class="item-custom" >
              {{tobacco.taste}} ({{tobacco.name}})
            </ion-item>
            <button type="submit" class="button button-balanced button-smoke-session">Add tobacco</button>
          </ion-list>
        </div>
      </ion-tab>
      <ion-tab title = "Members">
        <div class="tab-list-area">
        <ion-list class="list-custom tab-list">
          <ion-item ng-repeat="member in members" class="item-custom" >
            {{member.name}}
          </ion-item>
          <button type="submit" class="button button-balanced button-smoke-session">Add member</button>
        </ion-list>
        </div>
      </ion-tab>
      <ion-tab title = "Other">
        <div class="tab-list-area">
          <ion-list class="list-custom tab-list">
            <ion-item ng-repeat="member in members" class="item-custom" >
              {{member.name}}
            </ion-item>
            <button type="submit" class="button button-balanced button-smoke-session">Add member</button>
          </ion-list>
        </div>
      </ion-tab>
    </ion-tabs>

  </ion-content>
</ion-view>
